@charset "utf-8";
body{background-color:#FFF;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;letter-spacing:normal;margin:auto;padding:0 25px 25px;width:960px;}
#container{background:#FFF;margin:auto;max-width:960px;padding:0;position:relative;}
#header{background:#FFF;border-bottom-left-radius:12px;border-bottom-right-radius:12px;height:140px;margin-bottom:10px;max-width:100%;min-width:780px;padding:0px;position:static;}
#headerTitle{background:#000;height:0%;margin:0px;padding:0px;width:0%;}
#rightSidebar{background-color:#CC0000;border:none;border-bottom-right-radius:12px;color:#FFF;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-weight:bold;font-size:13px;height:auto;left:15px;margin:0px;padding:8px;position:absolute;top:280px;width:170px;z-index:1;}
#sidebar div.block{background-color:#CC0000;border-bottom-color:#FFF solid thin;font-size:12px;margin:0;padding:7px 0;width:170px;}
.block table{border:none;}
#sidebar div.block span.blockTitle,#sidebar div.block span.blockSubtitle{background-color:#CC0000;color:#FFF;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;letter-spacing:normal;text-transform:capitalize;}
#sidebarFontSize a:link,#sidebarFontSize a:hover,#sidebarFontSize a:visited,#sidebarFontSize a:active{background-color:#CC0000;}
#main{background:#FFF;border:15px solid #939393;border-radius:12px;height:auto;margin:0;min-height:550px;padding:15px 15px 15px 202px;position:absolute;width:712px;}
#navbar{background-color:#CC0000;border:none;border-top-right-radius:12px;height:110px;margin:0;left:0px;padding:8px;position:absolute;top:0px;width:170px;z-index:1;}
#navbar li{display:block;float:left;font-size:14px;font-weight:bold;padding:3px 0;text-align:left;width:170px;}
#navbar a:link,#navbar a:visited,#sidebar a:link,#sidebar a:visited{background-color:#CC0000;color:#FFF;display:inline-block;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;letter-spacing:0;text-decoration:none;text-transform:capitalize;}
#navbar a:hover,#sidebar a:hover{color:#939393;text-decoration:none;}
#navbar a:active,#sidebar a:active{color:#939393;text-decoration:blink;}
#breadcrumb{background-color:#000;color:#FFF;padding:7px;}
#breadcrumb a:link,#breadcrumb a:visited,#breadcrumb a:active,#breadcrumb a:hover{background-color:#000;color:#FFF;}
#breadcrumb a:hover{text-decoration:underline;}
#content{background-color:#FFF;border:none;font-size:12px;margin:0;padding:0;position:relative;width:auto;}
#presentacionRevista{background-color:#FFF;margin:auto;}
#portada{background-color:#FFF;float:left;margin:auto;padding:0 25px;text-align:center;width:220px;}
h1{color:#F6336B;margin-left:auto;margin-right:auto;font-style:normal;text-align:center;}
h1 img{max-width:100%;min-width:780px;position:absolute;top:0px;}
h2{clear:both;color:#000;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:24px;font-weight:bold;margin:0px;padding:0px;text-transform:capitalize;}
#content h3{background-color:#FFF;color:#000;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;letter-spacing:normal;margin:7px 0;padding:0;text-align:left;text-transform:capitalize;}
#presentacionRevista h3{display:none;}
#content h4{color:#F6336B;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;text-transform:uppercase;}
a:link,a:visited{background-color:#FFF;color:#000;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-decoration:none;}
a:hover,a:active{color:#939393;text-decoration:underline;}
ul{list-style-type:none;padding:0px;}
ul.steplist{padding:0 0 12px;}
ol{color:#000;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px;font-style:italic;font-weight:normal;list-style-type:decimal;}
table{border:none;}
.separator, .headseparator, .endseparator{display:none;}
.presentacion, .announcements{border:none;}
input.button{background-color:#939393;color:#FFF;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-weight:bold;}
input.textField,input.uploadField,select.selectMenu,textarea.textArea {background-color:#FFF;border:thin inset #939393;color:#000;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}