/* @override 
	http://rmwebsite.com/hoab/wp-content/themes/hoab/style.css
	http://www.hoab.org/wp-content/themes/hoab/style.css
	http://rosemontdev.com/hoab/wp-content/themes/hoab/style.css
*/

/*-------------------------------------------------------------------------------------*/
/* undo some default styling of common (X)HTML browsers
/*------------------------------------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,html,label,tr,td {margin:0;padding:0;}

fieldset,img,a img,:link img,:visited img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}

/* ------------------------ GLOBAL ELEMENTS ------------------------ */

/* ------------------------ type selectors ------------------------ */

html {
	background: white top repeat-x;	
        height: 100%;
        
}

body { 
	background: #383838;
	text-align:center; 
	font:12px/19px Arial, Helvetica, sans-serif; 
	color:#000;
        height: 88.5%;
      
	}

blockquote { margin-left:10px; margin-right:10px; }

h1	{ font-size:1.2em; color:#000; }
h2	{ font-size:1.1em; color:#000; }
h3	{ font-size:1.0em; color:#000; }

h1 span,h2 span,h3 span	{ display:none; }

a:link,a:visited	{ color:white; text-decoration:underline; outline:none; }
a:hover,a:active	{ color:white; text-decoration:none; outline:none; }



/* ------------------------ classes ------------------------ */
.clear	{ 
	clear:both;
	}

div.clear	{ 
	height:.01em; 
	overflow:hidden; 
	}


.atomic{
    
    font-family: 'Aldrich', sans-serif;
    font-size: 30pt;
    text-shadow:#333 3px 3px 3px;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=4);
    
    
    
}







/* ------------------------------- CONTENT FRAME ------------------------------- */
/* ------------------------ main frame ------------------------ */
#header {
	height: 50px;
	
	
        background-color: gainsboro;
        
        
        margin: 0 auto 0;
	text-align:center;
	
	clear: both;
	padding: 20px 0 0 0;
        
     
        
}





#wrap {
	
	margin:0 auto;
	text-align:left;
        height: 100%;
        width: 100%;
        
	
}

#content-wrap {
	background: #383838 bottom left no-repeat;
	
	height: 100%;
    
        width: 100%;
	
}

/* ------------------------ column-left framework ------------------------ */
#column-left {
	width:239px;
	float:left;
	background: #383838 no-repeat;
        
        
       
}
/* auiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/
#colRight-btm{
    
        
        height: 100%;
        
        
	text-align: center;
	background: white;
        margin-left: 245px;
        margin-right: 10px;
        
       
        
          
    
}
#column-right{
    
    height: 99%;
    
    
    
    background:   #383838;
}

#column-left p, #column-left h1, #column-left h2, #column-left h3 {
	margin:0px 0px 10px 0px;
}

#colLeft-btm {
	padding: 0 0 10px 23px;
}

#nav {
	padding: 4px 0 0 3px;
	display: block;
	font-size: 13px;
	margin: 0;
}

#nav li, #nav li a {

    
    background: url("images/nav.jpg") no-repeat;
    width: 209px;
    height: 31px;
    display: block;
    color: white;
    text-decoration: none;
    text-indent: 22px;
    line-height: 31px;

}



#nav li a:hover {
	background: url("images/nav.jpg") bottom left no-repeat;
	color: white;
}



/* ------------------------ son of suckerfish: vertical sprite nav ------------------------ */
#nav li ul {
	position:absolute;
	left:-9999px;
	
        
         background: url("images/nav.jpg") no-repeat;
	
        /*background-color:#D6BB90;	/* Background color of drop down nav - add more styles (i.e. background image) if you want */
	margin-left:209px; /* Set to same width as in #nav */
	margin-top:-31px; /* Set to each button height, same as used above */
	z-index:10;
	margin-left:190px; /* Set to same width as in #nav */
        width: 209px;
        height: 31px;
        
    

}

#nav li ul li {
	height:31px; /* Height of each drop down nav item */
	

	
}

#nav li ul li a {
	width:100%;
	height:31px; /* Height of each drop down nav item, should match above */
	line-height:31px;	 /* Height of each drop down nav item again, should match above */
	
	text-indent: 10px;
}



#nav li:hover ul, #nav li.sfHover ul	{ left: auto; }

/* Hover styles for drop down items */
#nav li ul a:hover { 
        background: url("images/nav.jpg") bottom left no-repeat ;
    
}

/* width of drop down nav - choose width that allows items to display on one line */
#nav li ul, #nav li ul li { width:200px; }		


/*table#bmi-stats {display:none; margin:10px 0 !important;}

table#bmi-stats td.equals {padding:0 5px; vertical-align:middle;}

table#bmi-stats td {vertical-align:top; margin:0; padding:3px;}



*/
#results {
	font-weight: bold;
	font-size: 15px;
}
#title {
	font-weight: bold;
	font-size: 15px;
}

.selected td { font-weight: bold; }


table {

	background: #fff;


	text-align: center;

	margin-right: 15px;

	border: 3px solid #20130B;

	border-collapse:collapse;
        
         

}





table td {

	

	line-height: 27px;
        margin: 10px;

	border: 1px solid #20130B!important;

}

table th {

	

	line-height: 27px;
        margin: 10px;
        

	border: 1px solid #20130B!important;

}







#slides {
	width: 708px;
	height:287px;
	float: right;
	overflow: hidden;
	position: relative;
}

#slideNav {
	position: absolute;
	z-index: 200;
	right: 10px;
	top: 10px;
}

#slideNav a {
	background: #fff;
	border: 1px solid #CA6A14;
	padding: 3px 7px;
	margin-right: 5px;
	text-decoration: none;
}

#slideNav a.activeSlide {
	background: #CA6A14;
	color: #fff;
}

/* ------------------------gallery framework ------------------------ */

/* Gallery Page */



/* ------------------------footer framework ------------------------ */
#footer {
	
	margin: 0 auto 0;
	text-align:center;
	font-size: 15px;
	clear: both;
	padding: 20px 0 0 0;
        
        background-color: gray;
	}

