

.boton {
    display: inline-block;

    display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-decoration: none;


    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);



}
.boton:hover { text-decoration: none; }

/* Redondez */

.redondo {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/* Color */

.negro {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.negro:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}


#consulta{

    margin:20px;
    background: whitesmoke;
}

#resultado{

    margin:20px;
    /*background: #B4CDCD;*/
    background: whitesmoke;


}
#response{
    color : #006400;
    font-family: 'Marmelad', sans-serif;
    font-size: 11pt;

}

form{
    font-family: 'Marmelad' ,sans-serif;





}
header{

    margin: 20px; 
    padding-bottom: 30px;
    font-family: 'Marmelad', sans-serif;
    text-align: center;
    font-size: 20pt;
    text-shadow:#333 2px 1px 1px;




}


.invisible{

    display: none;


}
.visible{

    display: block;


}


.divEditable{
    text-align: left;

    width: 50%;
    height: 50%;

    resize:both;
    overflow:auto;
    margin: 10px;


}

.blanco{
    background: white;

}
.gris {
    background: #EBEBE4;

}
.rojo{
    color: red;


}

.transparente{

    background-color: transparent; 

    /*background-image:url(images/iconos/guardar.png);
     
background-repeat:no-repeat;

background-position::left;*/

}
.morado {
    
    background-color: darkblue; 
    
}


/*.tabla1 th{

    padding: 5px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: lightblue;
    border-bottom-color: lightblue;
    background-color: #0FFFF;
    
    
    
    


}*/

.tabla1 {

    padding: 5px;
    border-width: 1px;
    background-color: whitesmoke;
    border-color: lightgrey;
    
    
    


}
/*
.tabla1 td{


    padding: 5px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #175753;
    border-bottom-color: #175753;
    background-color: whitesmoke;

}
*/
 
